/bin
/out
/obj
/polish-notation-app/gen
/polish-notation-app/target
/polish-notation-app/.idea
/polish-notation-test/gen
/polish-notation-test/target
/polish-notation-test/.idea
/.idea
*.iml
build.xml
ant.properties
local.properties
